[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_hugin
name: Hugin
description: 'Panorama Photo Stitcher' für das Zusammensetzen von Panoramen aus einzelnen Fotografien
advice: 
version: 2015.0.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_hugin (2015.0.0-1)
	* Initiales DFN-Paket
 -- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 18.01.2016






























































































